<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script>
        //停止刷新标记
        var needStop = false;

        //更新候选人列表下拉菜单
        function RefreshCandidates() {
            $.ajax({
                type: 'post',
                url: 'AdminHandler.ashx',
                contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                data: { action: "GetCandidateList", param1: "" },
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        var len = data.length;
                        //document.getElementById("CandidateName").options.length = 0;
                        $("#CandidateName").empty();
                        for (var i = 0; i < len; i++) {
                            var option = document.createElement("CandidateName");
                            $("#CandidateName").append(('<option value=' + data[i].Name + '>' + data[i].Name + '</option>'));
                        }

                        var option = document.createElement("CandidateName");
                        if (len) {
                            option.val = data[0].Name;
                            $("#CandidateName").selectmenu('refresh', true);//加上这句代码后就能显示默认的选中项了
                        }
                    }
                }, error: function (error) {
                    alert("error=" + error);

                }

            })
        }
        function StartTimer() {
            needStop = false;
            let timer = setInterval(() => {
                    if (needStop == true) {
                        clearInterval(timer);
                        return;
                    }
                    Refresh();
                },10000)
        }
        $(function () {
            $(document).ready(function () {
                //window.setInterval("Refresh()", 5000);

                $.ajax({
                    type: 'post',
                    url: 'AdminHandler.ashx',
                    contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                    data: { action: "InitData", param1: "" },
                    dataType: "text",
                    success: function (data) {
                        if (data != null && data != "") {
                            alert(data);
                            RefreshCandidates();
                        }

                        //document.getElementById("spanName").innerHTML = json[""];
                    }, error: function (error) {
                        alert("error=" + error);
                    }
                })
                //RefreshCandidates();
                //window.setInterval("Refresh()", 10000);
                StartTimer();
            })
        })


        function Refresh() {
            $.ajax({
                type: 'post',
                url: 'AdminHandler.ashx',
                contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                data: { action: "GetCurrentCandidate", param1: "" },
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        document.getElementById("spanName").innerHTML = data["Name"];
                        //document.getElementById("spanDepartment").innerHTML = data["Department"];
                        document.getElementById("spanSum").innerHTML = data["Total_Num"];
                        document.getElementById("spanA_num").innerHTML = data["A_Num"];
                        document.getElementById("spanB_num").innerHTML = data["B_Num"];
                        document.getElementById("spanC_num").innerHTML = data["C_Num"];

                        var ratio = data["A_Ratio"];
                        ratio = ratio * 100;
                        ratio=ratio.toFixed(2); 
                        document.getElementById("spanA_Ratio").innerHTML = ratio + "%";

                        ratio = data["B_Ratio"];
                        ratio = ratio * 100;
                        ratio=ratio.toFixed(2); 
                        document.getElementById("spanB_Ratio").innerHTML = ratio + "%";

                        ratio = data["C_Ratio"];
                        ratio = ratio * 100;
                        ratio=ratio.toFixed(2); 

                        document.getElementById("spanC_Ratio").innerHTML = ratio + "%";

                        if (document.getElementById("CandidateName").options.length == 0) {
                            RefreshCandidates();
                        }
                    }
                }, error: function (error) {
                    needStop = true;

                     //alert("error=" + error);
                }
            })
        }

        function SetNextCandidate() {
            $.ajax({
                type: 'post',
                url: 'AdminHandler.ashx',
                contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                data: { action: "SetNextCandidate", param1: $("#CandidateName").val() },
                dataType: "text",
                success: function (data) {
                    if (data != null) {
                        alert(data);
                    }
                    //document.getElementById("pageVote").hidden;

                    this.needStop = false;
                    StartTimer();
                    Refresh();

                }, error: function (error) {
                    alert("error=" + error);
                }
            })
        }


        function ReStart() {
            $.ajax({
                type: 'post',
                url: 'AdminHandler.ashx',
                contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                data: { action: "ReStart", param1: "" },
                dataType: "text",
                success: function (data) {
                    if (data != null) {
                        alert(data);
                        document.getElementById("spanName").innerHTML = "无";
                        document.getElementById("spanSum").innerHTML = "0";
                        //document.getElementById("spanDepartment").innerHTML = "无";
                        document.getElementById("spanA_Ratio").innerHTML = "0";
                        document.getElementById("spanA_num").innerHTML = "0";
                        document.getElementById("spanB_num").innerHTML = "0";
                        document.getElementById("spanB_Ratio").innerHTML = "0";
                        document.getElementById("spanC_num").innerHTML = "0";
                        document.getElementById("spanC_Ratio").innerHTML = "0";

                        RefreshCandidates();

                        needStop = true;
                    }

                }, error: function (error) {
                    alert("error=" + error);
                }
            })
        }

        function StopVote() {
            $.ajax({
                type: 'post',
                url: 'AdminHandler.ashx',
                contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                data: { action: "StopVote", param1: "" },
                dataType: "text",
                success: function (data) {
                    if (data != null) {
                        alert(data);

                        needStop = true;
                    }

                }, error: function (error) {
                    alert("error=" + error);
                }
            })
        }

        function TopList() {
            window.location = "TopList.html";
        }

        function ExportData() {
            $.ajax({
                type: 'post',
                url: 'AdminHandler.ashx',
                contentType: "application/x-www-form-urlencoded;charset=utf-8;",
                data: { action: "ExportData", param1: "" },
                dataType: "text",
                success: function (data) {
                    if (data != null) {
                        //document.getElementById("info").textContent = data;
                        //$('#pageExport').show();
                        alert(data);
                    }

                }, error: function (error) {
                    alert("error=" + error);
                }
            })
        }


        //function OnNext() {
        //    document.getElementById("labNamePup").innerHTML = $("#CandidateName").val();
        //}
    </script>
</head>
<body>
    <style>
        .container {
            display: flex;
            justify-content: center; /* 水平居中 */
            height: 80px; /* 容器高度，根据需要设置 */

        }

        img {
            width: auto;
            height: 100%;
        }
    </style>
    <div data-role="page">
        <div data-role="header">
            <!-- <a href="#TopList.html" id="btnTopList" class="ui-btn ui-corner-all ui-shadow ui-icon-home ui-btn-icon-left" onclick="TopList()">排行榜</a>-->

            <div class="container ">
                <img src="../Images/logo.png" />
            </div>
            <div class="container" style="font-size:450%;height:100px;"><span>桂阳县行政审批和许可提速工作专题询问满意度测评</span></div>
        </div>

        <div data-role="main" class="ui-content">
            <div style="font-weight: bold;font-size:150%">本轮测评详情：</div>
            <div class="ui-grid-a">
                <div class="ui-block-a" style="border:1px solid black; font-size:150%"><span>应询单位</span></div>
                <div class="ui-block-b" style="border:1px solid black; font-size:150%"><span id="spanName">无</span></div>
                <!--<div class="ui-block-a" style="border:1px solid black; font-size:150%"><span>应询对象</span></div>
        <div class="ui-block-b" style="border:1px solid black; font-size:150%"><span id="spanName">无</span></div>-->
                <div class="ui-block-a" style="border:1px solid black; font-size:150%"><span>已投票数</span></div>
                <div class="ui-block-b" style="border:1px solid black; font-size:150%"><span id="spanSum">0</span></div>
                <div>
                    <div class="ui-block-a"><span></span></div>
                    <div class="ui-block-a" style="font-weight: bold;font-size:150%"><span>详细信息：</span></div>
                </div>
                <div class="ui-block-a" style="border:1px solid black;font-size:150%"><span>满意票</span></div>
                <div class="ui-block-b" style="border:1px solid black;font-size:150%"><span id="spanA_num">0</span></div>
                <div class="ui-block-a" style="border:1px solid black;font-size:150%"><span>满意票占比</span></div>
                <div class="ui-block-b" style="border:1px solid black;font-size:150%"><span id="spanA_Ratio">0</span></div>
                <div class="ui-block-a" style="border:1px solid black;font-size:150%"><span>基本满意票</span></div>
                <div class="ui-block-b" style="border:1px solid black;font-size:150%"><span id="spanB_num">0</span></div>
                <div class="ui-block-a" style="border:1px solid black;font-size:150%"><span>基本满意票占比</span></div>
                <div class="ui-block-b" style="border:1px solid black;font-size:150%"><span id="spanB_Ratio">0</span></div>
                <div class="ui-block-a" style="border:1px solid black;font-size:150%"><span>不满意票</span></div>
                <div class="ui-block-b" style="border:1px solid black;font-size:150%"><span id="spanC_num">0</span></div>
                <div class="ui-block-a" style="border:1px solid black;font-size:150%"><span>不满意票占比</span></div>
                <div class="ui-block-b" style="border:1px solid black;font-size:150%"><span id="spanC_Ratio">0</span></div>
            </div>

            <button class="button ui-btn ui-btn-b"  onclick="Refresh();">刷新</button>
            <button class="button ui-btn ui-btn-b"  onclick="ReStart();">重启系统</button>
            <button class="button ui-btn ui-btn-b"  onclick="StopVote();">停止本轮测评</button>
            <button class="button ui-btn ui-btn-b"  onclick="ExportData();">导出数据</button>


            <div data-role="controlgroup">
                <div class="ui-grid-a">
                    <div class="ui-block-a">
                        <form method="post" action="demoform.html">
                            <fieldset class="ui-field-contain">
                                <label for="CandidateName" style="font-weight:bolder">测评对象</label>
                                <select name="CandidateName" id="CandidateName">
                                    <!--<option value="马云">马云</option>
                            <option value="刘德华">刘德华</option>
                            <option value="姚明">姚明</option>-->
                                </select>
                            </fieldset>
                        </form>
                        <a href="#pageVote" class="ui-btn ui-corner-all ui-shadow ui-btn-b " onclick="SetNextCandidate();">开始测评</a>
                    </div>
                    <div class="ui-block-b">
                    </div>

                </div>
            </div>
        </div>
    <!--<div data-role="page" data-dialog="true" id="pageVote">
        <div data-role="header">
            <h1>确认下一轮投票？</h1>
        </div>
        <div data-role="main" class="ui-content">
            <label id="labNamePup" style="text-align: center;font-weight:700;font-size:150%;"></label>
        </div>
        <div data-role="footer">
            <a href="#" id="btnVote" class="ui-btn ui-corner-all ui-shadow " onclick="SetNextCandidate();">确认开始</a>
        </div>
    </div>-->
</body>
</html>
