<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script>
        function Exit() {
            window.opener = null;
            window.open('', '_self');
            window.close();
        }
    </script>
    <style>
        img {
            width: 30%;
            height: auto;
        }
    </style>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <h1>专题询问满意度测评</h1>
        </div>
        <div data-role="main" class="ui-content">
            <div>
                <h3>  </h3>
            </div>

            <div align="center" width="10" height="10">
                <img src="../Images/logo.png" />
            </div>
            <div><h3 align="center">桂阳县行政审批和许可提速工作</h3></div>
            <div><h3 align="center">专题询问满意度测评</h3></div>

            <div><h1 align="center">谢谢参与!</h1></div>
            <br />

            <!--<div>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-edit ui-btn-icon-left " onclick="Exit()">关闭</a>
    </div>-->
        </div>
    </div>
</body>
</html>