<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <script>
        function Exit() {
            window.opener = null;
            window.open('', '_self');
            window.close();
        }
    </script>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <h1>桂阳财政局匿名投票系统</h1>
        </div>
        <div data-role="main" class="ui-content">
            <div>谢谢参与</div>
            <!--<div>
                <a href="#" class="ui-btn ui-corner-all ui-shadow ui-icon-edit ui-btn-icon-left " onclick="Exit()">关闭</a>
            </div>-->
        </div>
    </div>
</body>
</html>