
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script>
        $(function () {
            $("#btnVote").click(function () {
                //var s = $("#points").val();
                //var name = document.getElementById("labNamePup").innerHTML;
                var score = [];
                var name = [];
                var i = 0;
                $("select").each(function () {
                    name[i] = $(this).attr("id");;
                    score[i] = $(this).val();
                    i++;
                    //这个obj就是你的每个下拉框的值
                })

                $.ajax({
                    type: 'POST',
                    url: 'VoteListHandler.ashx',
                    data: { Name: name, Score: score },
                    dataType: "json",
                    success: function (data) {
                        if (data != "ok") {
                            alert(data);
                        }
                        else {
                            alert("投票成功");
                        }
                        window.location = "Thanks.html";
                    }, error: function () {

                    }
                })
            })
        })
    </script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>财政局年终考核打分</h1>
        </div>
        <div data-role="main" class="ui-content">
            <form method="post">
                <fieldset class="ui-field-contain">
                    <label for="刘德华">刘德华</label>
                    <select name="day" id="刘德华" data-mini="true">
                        <option value="10">优秀</option>
                        <option value="8" selected>称职</option>
                        <option value="6">基本称职</option>
                        <option value="3">不称职</option>
                    </select>
                </fieldset>

                <fieldset class="ui-field-contain">
                    <label for="马云">马云</label>
                    <select name="day" id="马云" data-mini="true">
                        <option value="10">优秀</option>
                        <option value="8" selected>称职</option>
                        <option value="6">基本称职</option>
                        <option value="3">不称职</option>
                    </select>
                </fieldset>

                <fieldset class="ui-field-contain">
                    <label for="王二小">王二小</label>
                    <select name="day" id="王二小" data-mini="true">
                        <option value="10">优秀</option>
                        <option value="8" selected>称职</option>
                        <option value="6">基本称职</option>
                        <option value="3">不称职</option>
                    </select>
                </fieldset>                <a href="#pageVote" class="ui-btn ui-corner-all ui-shadow ui-icon-edit ui-btn-icon-left ">提交</a>

            </form>
        </div>
    </div>
    <div data-role="page" data-dialog="true" id="pageVote">
        <div data-role="header">
            <h1>确认投票？</h1>
        </div>
        <div data-role="footer">
            <a href="#" id="btnVote" class="ui-btn ui-corner-all ui-shadow ui-icon-edit ui-btn-icon-left ">提交</a>
        </div>
    </div>
</body>
</html>
